@charset "UTF-8";
/* CSS Document */

/* ----------------------------------------------  IN LIMBO  ---------------------------------------------- */


	body {
		margin:0px;
		padding:0px;
		width: 100%;
		height:100%;
		background: url(http://media-of-jianshu.qiniudn.com/Anshime-background.png) repeat #eeeeee;
		text-shadow: 0px 1px 0px #FFF;
		color: #999999;
		font-family: "ronnia",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
	}
	#toptop{
		margin:0px;
		padding:0px;
		width: 100%;
		height:100%;
		text-shadow: 0px 1px 0px #FFF;
		color: #999999;
		font-style: normal;
		font-weight: 400;
		font-weight:900
	}
	
	#Bodybody {
		 padding: 0px;
		 width: 1200px;
		 background: #fff;
		 margin: 0px auto;
		 margin-top:130px;
		 font-size: 20px;
	}
	
	.kitty {
		font-family: "ronnia",sans-serif;
		font-style: normal;
		font-weight: 400;
	}
	.top{
		width:400;
		Height:300;
		text-align:center;
		font-size: 70px;
		position:relative;
		margin: 100px 0px 0px 0px;
	}
	.top2{
		width:400;
		Height:300;
		text-align:center;
		font-size: 20px;
		position:relative;
		margin: 0px 0px 0px 0px;
	}
	.left {
		width: 400px;
		height: 220px;
		float: left;
		text-align: right;
		line-height: 220px;
		margin: 0px 50px 0px 0px;
	}
	
	.middle {
		width: 220px;
		height: 220px;
		float: left;
		background: url(http://media-of-jianshu.qiniudn.com/Anshime-lianshi.png) top center;
	}
	
	.right {
		width: 400px;
		height: 220px;
		float: left;
		text-align: left;
		line-height: 220px;
		margin: 0px 0px 0px 50px;
	}
	
	
	p {
		
		margin: 0px 0px -5px 0px;
		padding: 0px;
	}
	
	a {
		color: #999999;
		margin: 0px;
		padding: 0px;
		text-decoration: none;
		-webkit-transition: color .25s ease-in;
		-o-transition: color .25s ease-in;
	}
	
	a:hover {
		color: #444444;
	}
	
	a:active {
		color: #222222;
	}
