/* YUI RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

html{color:#333;}
body{background:#333;font:12px "Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;}
a{color:#333;text-decoration:none;}

.block{display:block;}
.clearfix{zoom:1;}
.clearfix:after{display:block;content:"";clear:both;height:0;}
.floatL{float:left;}
.floatR{float:right;}
.wrapper{width:1000px;margin:0 auto;position:relative;}

a, #projects p, #projects img{
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
	-o-transition:0.2s ease all;
}
#about{
	background:#fef;
}
#about a:hover{
	color:#f90;
}

#avatar{
	width:500px;
	height:500px;
}
#profile{
	position:absolute;
	text-align:right;
	right:0;
	top:180px;
}
#profile img{
	width:16px;
	height:16px;
}


#copyright{
	color:#ccc;
	font-size:24px;
	position:absolute;
	bottom:10px;
	
}
#copyright a{
	color:#ccc;
	text-decoration:underline;
}

.color-sep{
	background:url(bgline.png);
	height:4px;
}
#footer{
   color:#eeff00;  
   position: absolute;  
   bottom:10px;    
   right:590px;       
}  
#me h1{
	font-size:35px;
	font-weight:bold;
}
#me h2{
	color:#999;
	font-size:12px;
}
#me ul{
	font-size:16px;
	margin:20px 0;
}
#me ul img{
	vertical-align:bottom;
}
